body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.page-header {
  border: 1px solid #e7e9fc;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.nav-list {
  display: flex;
  column-gap: 40px;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-accent {
  color: #2e2f42;
}

.nav-list,
.address-list,
.advantages-list,
.team-list,
.portfolio-list {
  list-style-type: none;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.address-list {
  display: flex;
  column-gap: 40px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.section-hero {
  background-color: #2e2f42;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  width: 169px;
  height: 56px;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: auto;
}
.advantages-item {
  width: calc((100% - (24px * 3)) / 4);
  min-height: 104px;
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-team {
  display: flex;
  flex-direction: column;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - (24px * 3)) / 4);
  background-color: #ffffff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - (24px * 3)) / 3);
  background-color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo {
  color: #4d5ae5;
}

.footer-accent {
  color: #f4f4fd;
}
